* {
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "Kanit-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kanit-Bold.ttf");
}
@font-face {
  font-family: "Kanit-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kanit-Regular.ttf");
}
// @font-face {
//   font-family: "Montserrat-italic";
//   font-style: normal;
//   font-weight: normal;
//   src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
// }
// @font-face {
//   font-family: "micon";
//   font-style: normal;
//   font-weight: normal;
//   src: url("../fonts/ltx-ollis.ttf");
// }

body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 26px;
  overflow-x: hidden;
  letter-spacing: 0.4px;
  color: #333;
  font-family: "Kanit-Regular";
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Kanit-Bold";
}
a {
  color: #555;
  transition: all 0.5s ease-out 0s;
  font-family: "Kanit-Regular";
  text-decoration: none;
  letter-spacing: 0.5px;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  list-style-type: none;
}
p {
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 22px;
}
.page-link {
  &:focus {
    box-shadow: unset;
  }
}
.mrt70 {
  margin-top: 70px;
}
.mrb70 {
  margin-bottom: 70px;
}
.mrt50 {
  margin-top: 50px;
}
.mrb50 {
  margin-bottom: 50px;
}
.pdtop {
  padding-top: 100px;
}
.pdbottom {
  padding-bottom: 100px;
}
.pdtop50 {
  padding-top: 50px;
}
.pdbottom50 {
  padding-bottom: 50px;
}
.main_heading {
  span {
    border-left: 2px solid #911439;
    text-transform: capitalize;
    line-height: 1;
    padding: 0 0 0 10px;
    color: #911439;
    font-weight: bold;
  }
  h2 {
    font-size: 44px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
    margin: 10px 0px;
  }
}
.main_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #911439;
  border-radius: 0;
  border: none;
  padding: 10px 25px;
  transition: all 0.5s;
  &:hover {
    color: #fff;
  }
}

.btn {
  transition: all 0.5s;
  &:hover {
    background: #911439;
  }
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #810f31;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover {
    color: white;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      // background: #911439 !important;
    }
  }
  &:focus {
    color: white;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
  &:active {
    color: white;
    &:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
  }
}
